<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="proj.sadna.mta.sadna_2017">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".app.TripApplication"
        android:allowBackup="true"
        android:icon="@drawable/appic"
        android:label="TripApp"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmb9WuaYVvq3njzHXigDwJIFO8BV-lcxA"/>
        <meta-data
            android:name="DATABASE"
            android:value="trips.db"/>
        <meta-data
            android:name="VERSION"
            android:value="2"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <!--<meta-data-->
            <!--android:name="DOMAIN_PACKAGE_NAME"-->
            <!--android:value="proj.sadna.mta.sadna_2017.App.Models"/>-->

        <activity android:name=".app.Activities.MainActivity">
        </activity>
        <activity android:name=".app.Activities.IntroSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".app.Activities.SetDataActivity"/>
        <activity android:name=".app.Activities.LoginActivity">
        </activity>
        <activity android:name=".app.Activities.SitesActivity">
        </activity>
        <activity android:name=".app.Activities.PathActivity">
        </activity>
        <activity android:name=".app.Activities.SiteOverviewActivity">
        </activity>
        <activity
            android:name=".app.Activities.SearchSiteActivity"
            android:label="@string/title_activity_search_site">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyB4SXAzr--5Z9ZgQqOXoGAHnBu-n-CDoN8"/>
        </activity>
        <activity
            android:name=".app.Activities.PathOnMapActivity"
            android:label="@string/title_activity_path_on_map"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>